<div class="container-fluid">
    <div class="row vh-100 d-flex justify-content-center align-items-center">
        <div class="col-12">
          
                <form>
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" id="username">
                    </div>
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input type="text" id="email">
                    </div>
                    <div class="form-group">
                      <label for="postal">Postal code</label>
                      <input type="text" id="postal">
                    </div>
                    <div class="form-group">
                      <label for="address">Address</label>
                      <input type="text" id="address">
                    </div>
                    <div class="form-group">
                      <label for="ph">Ph Number</label>
                      <input type="text" id="ph">
                    </div>
                <div class="form-group">
                    <input type="submit" value="Checkout">
                </div>
            </form>
            
            

        </div>
    </div>
</div>


<style>
   
     .form-group {
      text-align: center;

    } 
    label {
      font-weight: lighter;
      font-size: large;
      display: block;
    }
    input[type="text"], input[type="email"] {
      width: 30%;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
      box-sizing: border-box;
      margin-bottom: 20px;
      font-size: 10px;
    }
    input[type="submit"] {
     
        width: 30%;
      padding: 10px;
      background-color: black;
      color: #fff;
      display: inline-block;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      text-decoration: none;
      outline: none;
 
     border: none;
        border-radius: 15px;
        
   
    }
    input[type="submit"]:hover {
      background-color:black;
    }
    input[type="submit"]:hover {
        background-color:grey;
        
 
    }

  </style>