<style>

@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Rock+Salt&display=swap');

    .shopper{
      top: 37vh;
      left: 228px;
      display: inline-block !important;
      color: white;
      mix-blend-mode: difference;
      z-index: 1;
    }
  </style>
<div class="position-absolute shopper">
    <h1 class="display-1 text-uppercase fw-bolder" style="letter-spacing: 5px;font-family: 'Allerta Stencil', sans-serif;">Fashion is art of your own creation.</h1>
    <div class="d-flex justify-content-around">
   </div>
  </div>
<div class="container-fluid">
  <div class="row vh-100">
    <div class="col-4 bg-black position-relative">
      <small class="position-absolute bottom-0 text-light mb-3 ms-5" style="font-style: italic;text-decoration: underline;">Developed by Pyae & Luke</small>
  </div>
  <div class="col-8 bg-light position-relative">
    <div class="position-absolute bottom-0 end-0 d-flex flex-column me-3 mb-2">
      <a href="" class="text-end"><i class="bi bi-instagram text-dark"></i></a>
      <a href="" class="text-end"><i class="bi bi-facebook text-dark"></i></a>
      <a href="" class="text-end"><i class="bi bi-twitter text-dark"></i></a>
    </div>
  </div>
</div>
</div>
