<style>

@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Rock+Salt&display=swap');
    nav a{
      color: white !important;
      transition: 0.3s linear;
    }
    nav a:hover{
      text-decoration: underline;
    }
</style>
<div class="container-fluid position-fixed top-0 z-2">
  <div class="row">
        <nav class="navbar navbar-expand-lg  bg-black">
          <div class="container">
            <span class="text-light fw-bold text-uppercase ms-1" style="font-family: 'Allerta Stencil', sans-serif;">Lavenders</span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
              <ul class="navbar-nav text-light ">
                <li class="nav-item me-5">
                  <a class="nav-link active" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item me-5">
                  <a class="nav-link" href="/shop">Shop</a>
                </li>
                <li class="nav-item me-5">
                  <a class="nav-link" href="/CheckOut">Check Out</a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="/contact">Contact</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>